<!DOCTYPE html>
<html>
<head>
    <title>MySportLab - Planner</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='planedit.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>

<body>

<div class="sidebar">

    <div class="logo">
        MySportLab
    </div>

    <div class="user-profile">
        {% if profile.avatar %}
        <img class="avatar" src="/{{ profile.avatar }}">
        {% else %}
   
        <img class="avatar" src="{{ url_for('static', filename='default.png') }}">
        {% endif %}
        
        <div class="user-info">
            <h3>{{ user.username if user else 'Athlete' }}</h3>
            <div class="status">
                <i class="fa-solid fa-circle" style="font-size: 8px;"></i> Online
            </div>
        </div>
    </div>

    <ul class="sidebar-menu">
        <li>
            <a href="/profile"><i class="fa-solid fa-user-gear"></i>Profile</a>
        </li>
        
        <li>
            <a href="/"><i class="fa-solid fa-house"></i>Home</a>
        </li>

        <li>
            <a href="/dashboard"><i class="fa-solid fa-chart-pie"></i>Dashboard</a>
        </li>

        <li>
            <a href="/plan"><i class="fa-solid fa-calendar-days"></i>Plan</a>
        </li>

        <li>
            <a href="/recommendation"><i class="fa-solid fa-person-running"></i>Recommendation Sports</a>
        </li>

        <li>
            <a href="/tutorial"><i class="fa-solid fa-clapperboard"></i>Tutorial</a>
        </li>
        
        <li>
            <a href="/calorie_tracker"><i class="fa-solid fa-utensils"></i>Calorie Tracker</a>
        </li>
    </ul>
    
    <div class="logout-btn">
        <a href="/logout"><i class="fa-solid fa-right-from-bracket"></i>Logout</a>
    </div>
    
</div>
<div class="main-content">

    <div class="top-bar">
        <div class="page-title">
            <i class="fa-solid fa-calendar-days"></i>
            Planner Portal
        </div>
    </div>
    <!-- GENERATED SCHEDULE -->
    {% if schedule %}

    <h1  id="weekly-schedule" class="schedule-title">Weekly Schedule</h1>

   <table class="schedule-table">

    <thead>
        <tr>
            <th>Day</th>
            <th>Sport</th>
            <th>Time</th>
            <th>Duration</th>
            <th>Intensity</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>

        {% for item in schedule %}

        <tr>
            <td>{{ item.day }}</td>
            <td>{{ item.sport }}</td>
            <td>{{ item.start_time }} - {{ item.end_time }}</td>
            <td>{{ item.duration }}</td>
            <td>{{ item.intensity }}</td>
            <td>
            <a href="/edit_schedule/{{ item.id }}">
             Edit
            </a>
            </td>
        </tr>

        {% endfor %}

    </tbody>

</table>
<div class="action-buttons">

    <a href="#planner-section" class="free-time-btn">
        Select Free Time
    </a>

    <form action="/delete_all_schedule"
          method="POST"
          class="delete-all-form">

        <button
            type="submit"
            class="delete-all-btn"
            onclick="return confirm('Delete ALL schedules?')">

            Delete Whole Schedule

        </button>

    </form>

</div>

{% endif %}

<div class="container">

<div id="planner-section" class="planner-box">
   <h1 class="plan-title">
    Smart Sport Planning System
</h1>

    {% if error %}
    <div class="error-box">
    {{ error }}
    </div>
    {% endif %}

    <form method="POST" class="form-wrapper">
    
    <div class="plan-row">
        <!-- AVAILABLE DAYS -->
        <div class="plan-card">

            <h2>1. Select Your Available Days & Time</h2>

            <div class="checkbox-group">

                <!-- Monday -->
                <label>
                    <input type="checkbox"
                           name="days"
                           value="Monday"
                           onchange="toggleTime('monday-time', this)">

                    Monday
                </label>

                <div id="monday-time" class="time-box">

                     Slot 1:
                     From:
                        <input type="time" name="monday_from">

                         To:
                         <input type="time" name="monday_to">

                         <br><br>

                        Slot 2:
                        From:
                        <input type="time" name="monday_from">

                        To:
                        <input type="time" name="monday_to">

                        <br><br>

                        <button
                        type="button"
                        onclick="clearTimes('monday')">
                        Clear Times
                        </button>

                </div>

                <!-- Tuesday -->
                <label>
                    <input type="checkbox"
                           name="days"
                           value="Tuesday"
                           onchange="toggleTime('tuesday-time', this)">

                    Tuesday
                </label>

                <div id="tuesday-time" class="time-box">

                      Slot 1:
    From:
                        <input type="time" name="tuesday_from">

                        To:
                        <input type="time" name="tuesday_to">

                        <br><br>

                        Slot 2:
                        From:
                        <input type="time" name="tuesday_from">

                        To:
                        <input type="time" name="tuesday_to">
                        <br><br>

                        <button
                        type="button"
                        onclick="clearTimes('tuesday')">
                        Clear Times
                        </button>

                        </div>

                <!-- Wednesday -->
                <label>
                    <input type="checkbox"
                           name="days"
                           value="Wednesday"
                           onchange="toggleTime('wednesday-time', this)">

                    Wednesday
                </label>

                <div id="wednesday-time" class="time-box">

                     Slot 1:
                    From:
                    <input type="time" name="wednesday_from">

                    To:
                    <input type="time" name="wednesday_to">

                    <br><br>

                    Slot 2:
                    From:
                    <input type="time" name="wednesday_from">

                    To:
                    <input type="time" name="wednesday_to">
                    <br><br>

                    <button
                        type="button"
                        onclick="clearTimes('wednesday')">
                        Clear Times
                    </button>


                </div>

                <!-- Thursday -->
                <label>
                    <input type="checkbox"
                           name="days"
                           value="Thursday"
                           onchange="toggleTime('thursday-time', this)">

                    Thursday
                </label>
                <div id="thursday-time" class="time-box">
                Slot 1:
                    From:
                    <input type="time" name="thursday_from">

                    To:
                    <input type="time" name="thursday_to">

                    <br><br>

                    Slot 2:
                    From:
                    <input type="time" name="thursday_from">

                    To:
                    <input type="time" name="thursday_to">

                    <br><br>

                    <button
                        type="button"
                        onclick="clearTimes('thursday')">
                        Clear Times
                    </button>

                                </div>

                <!-- Friday -->
                <label>
                    <input type="checkbox"
                           name="days"
                           value="Friday"
                           onchange="toggleTime('friday-time', this)">

                    Friday
                </label>

                <div id="friday-time" class="time-box">

                     Slot 1:
                        From:
                        <input type="time" name="friday_from">

                        To:
                        <input type="time" name="friday_to">

                        <br><br>

                        Slot 2:
                        From:
                        <input type="time" name="friday_from">

                        To:
                        <input type="time" name="friday_to">

                        <br><br>

                        <button
                            type="button"
                            onclick="clearTimes('friday')">
                            Clear Times
                        </button>

                        </div>

                <!-- Saturday -->
                <label>
                    <input type="checkbox"
                           name="days"
                           value="Saturday"
                           onchange="toggleTime('saturday-time', this)">

                    Saturday
                </label>

                <div id="saturday-time" class="time-box">

                    Slot 1:
                        From:
                        <input type="time" name="saturday_from">

                        To:
                        <input type="time" name="saturday_to">

                        <br><br>

                        Slot 2:
                        From:
                        <input type="time" name="saturday_from">

                        To:
                        <input type="time" name="saturday_to">

                        <br><br>

                        <button
                            type="button"
                            onclick="clearTimes('saturday')">
                            Clear Times
                        </button>

                    </div>

                <!-- Sunday -->
                <label>
                    <input type="checkbox"
                           name="days"
                           value="Sunday"
                           onchange="toggleTime('sunday-time', this)">

                    Sunday
                </label>

                <div id="sunday-time" class="time-box">

                   Slot 1:
                    From:
                    <input type="time" name="sunday_from">

                    To:
                    <input type="time" name="sunday_to">

                    <br><br>

                    Slot 2:
                    From:
                    <input type="time" name="sunday_from">

                    To:
                    <input type="time" name="sunday_to">
                    <br><br>    
                    

                    <button
                        type="button"
                        onclick="clearTimes('sunday')">
                        Clear Times
                    </button>
                </div>

            </div>

        </div>

        <!-- SPORTS -->
        <div class="plan-card">

            <h2>2. Select Your Preferred Sports</h2>

            <div class="checkbox-group">

                <label>
                    <input type="checkbox" name="sports" value="Basketball">
                    Basketball
                </label>

                <label>
                    <input type="checkbox" name="sports" value="Football">
                    Football
                </label>

                <label>
                    <input type="checkbox" name="sports" value="Badminton">
                    Badminton
                </label>

                <label>
                    <input type="checkbox" name="sports" value="Swimming">
                    Swimming
                </label>

                <label>
                    <input type="checkbox" name="sports" value="Gym">
                    Gym
                </label>

                <label>
                    <input type="checkbox" name="sports" value="Cycling">
                    Cycling
                </label>

                <label>
                    <input type="checkbox" name="sports" value="Running">
                    Running
                </label>

            </div>

        </div>


       

    
</div>
 <!-- BUTTON -->
       <div class="generate-container">
        <button type="submit" class="generate-btn">
            Generate Weekly Schedule
        </button>
        </div>
</form>



<script>

function toggleTime(id, checkbox){

    const box = document.getElementById(id);

    if(checkbox.checked){

        box.style.display = "block";

    } else {

        box.style.display = "none";

    }

}

function clearTimes(day){

    const inputs = document.querySelectorAll(
        `input[name="${day}_from"],
         input[name="${day}_to"]`
    );

    inputs.forEach(input => {
        input.value = "";
    });

}

</script>

</body>
</html>
