<!DOCTYPE html>
<html>
<head>
    <title>Profile - MySportLab</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">
    <div class="navbar">

    <a href="/">Home</a>
    <a href="/plan">Plan</a>
    <a href="/dashboard">Dashboard</a>
    <a href="/chat">Chat</a>

    {% if logged_in %}
        <a href="/profile">Profile</a>
    {% else %}
        <a href="/login">Login</a>
    {% endif %}

    </div>
    
    <div class="box">

    <h2>Profile</h2>

    <!-- Avatar -->
    {% if profile.avatar %}
        <img src="/{{ profile.avatar }}">
    {% else %}
        <img src="{{ url_for('static', filename='default.png') }}">
    {% endif %}

    <!-- Upload avatar -->
    <form method="POST" enctype="multipart/form-data">
        <input type="file" name="avatar">

        <!-- Bio -->
        <textarea name="bio" placeholder="Write your bio...">{{ profile.bio }}</textarea>

        <button class="btn">Update</button>
    </form>

    <hr>

    <!-- Info -->
    <p>Username: {{ user.username }}</p>
    <p>Email: {{ user.email }}</p>
    <p>Gender: {{ profile.gender }}</p>
    <p>Height: {{ profile.height }}</p>
    <p>Weight: {{ profile.weight }}</p>
    <p>Country: {{ profile.country }}</p>
    <p>DOB: {{ profile.date_of_birth }}</p>

</div>
        <a href="/logout">Logout</a>

    </div>
</div>

</body>
</html>