<!DOCTYPE html>
<html>
<head>
    <title>Profile - MySportLab</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='profile.css') }}">
</head>

<body>
    <div class="sidebar">
 <div class="logo">
        MySportLab
    </div>

    <div class="user-profile">

        {% if profile.avatar %}
        <img class="avatar" src="/{{ profile.avatar }}">
        {% else %}
        <img class="avatar" src="{{ url_for('static', filename='default.png') }}">
        {% endif %}

        <div class="user-info">
            <h3>{{ user.username }}</h3>
            <div class="status">
                ● Online
            </div>
        </div>

    </div>

    <ul class="sidebar-menu">

        <li class="active">
            <a href="/profile">Profile</a>
        </li>

        <li>
            <a href="/">Home</a>
        </li>

        <li>
            <a href="/dashboard">Dashboard</a>
        </li>

        <li>
            <a href="/plan">Plan</a>
        </li>

        <li>
            <a href="/recommendation">Recommendation Sports</a>
        </li>

        <li>
            <a href="/tutorial">Tutorial</a>
        </li>

        <li>
            <a href="/calorie_tracker">Calorie Tracker</a>
        </li>

    </ul>

    <div class="logout-btn">
        <a href="/logout">Logout</a>
    </div>

</div>

<div class="main-content">

    <div class="top-bar">

        <div class="page-title">
            Profile Portal
        </div>

    </div>

<div class="profile-container">
   
    <div class="profile-layout">

    <div class="profile-left">

    <h2>Profile</h2>

    <!-- Avatar -->
    {% if profile.avatar %}
    <img class="profile-avatar" src="/{{ profile.avatar }}">
     <p>{{ profile.avatar }}</p>
    {% else %}
   
    <img class="profile-avatar"
         src="{{ url_for('static', filename='default.png') }}">
    {% endif %}

    <!-- Upload avatar -->
    <form method="POST" enctype="multipart/form-data">
        <input type="file" name="avatar">

        <!-- Bio -->
        <textarea name="bio" placeholder="Write your bio...">{{ profile.bio }}</textarea>

        <button class="btn">Update</button>
    </form>
     </div>
   

    <div class="profile-right">

        <h3>Personal Information</h3>

        <div class="info-row">
            <span>Username</span>
            <span>{{ user.username }}</span>
        </div>

        <div class="info-row">
            <span>Email</span>
            <span>{{ user.email }}</span>
        </div>
        <div class="info-row">
            <span>Gender</span>
            <span>{{ profile.gender }}</span>
        </div>

        <div class="info-row">
            <span>Height</span>
            <span>{{ profile.height }}</span>
        </div>

        <div class="info-row">
            <span>Weight</span>
            <span>{{ profile.weight }}</span>
        </div>

        <div class="info-row">
            <span>Country</span>
            <span>{{ profile.country }}</span>
        </div>

        <div class="info-row">
            <span>DOB</span>
            <span>{{ profile.date_of_birth }}</span>
        </div>

    <div class="logout-container">
        <a href="/reset_question" class="retake-btn">Reset Personal Information</a>
   
    </div>

    </div>

 </div>

</div>

</body>
</html>