<!DOCTYPE html>
<html>
<head>
    <title>MySportLab - Register</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='register.css') }}">

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap"
          rel="stylesheet">
</head>

<body>

<div class="container">

    <div class="box">

        <div class="register-header">

            <div class="brand-logo">
                MySportLab
            </div>

            <p>
                Create your account to start your fitness journey
            </p>

        </div>

        {% if error %}
        <div class="error">
            {{ error }}
        </div>
        {% endif %}

        {% if success %}
        <div class="success">
            {{ success }}
        </div>
        {% endif %}

        <form method="POST">

            <div class="input-group">
                <label>Username</label>

                <div class="input-wrapper">
                    <i class="fa-solid fa-user"></i>

                    <input
                        type="text"
                        name="username"
                        placeholder="Enter username"
                        required>
                </div>
            </div>

            <div class="input-group">
                <label>Email Address</label>

                <div class="input-wrapper">
                    <i class="fa-solid fa-envelope"></i>

                    <input
                        type="email"
                        name="email"
                        placeholder="example@mail.com"
                        required>
                </div>
            </div>

            <div class="input-group">
                <label>Password</label>

                <div class="input-wrapper">
                    <i class="fa-solid fa-lock"></i>

                    <input
                        type="password"
                        name="password"
                        placeholder="Password"
                        required>
                </div>
            </div>

            <div class="input-group">
                <label>Confirm Password</label>

                <div class="input-wrapper">
                    <i class="fa-solid fa-lock"></i>

                    <input
                        type="password"
                        name="confirm"
                        placeholder="Confirm Password"
                        required>
                </div>
            </div>

            <button type="submit">
                Create Account
            </button>

        </form>

        <div class="footer-link">
            Already have an account?
            <a href="/login">Login</a>
        </div>

    </div>

</div>

</body>
</html>
