p, label {
    color: #1f2937;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    background-color: #f5f7fa;
}

h1 {
    color: #0539d3;
}

button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    background-color: #0539d3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #142e7c;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background-color: #0539d3;
}

.logo a {
    color: #e0e0e0;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

.menu a {
    color: #e0e0e0;
    margin-left: 20px;
    text-decoration: none;
    padding: 8px 10px;
    border-radius: 5px;
    transition: 0.3s;
}

.menu a:hover {
    background-color: #142e7c;
}

.startbutton {
    margin-top: 20px;
    padding: 12px 30px;
    font-size: 18px;
    background-color: #0539d3;
    color: #e0e0e0;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

.startbutton:hover {
    background-color: #142e7c;
}

.menu a.active {
    background-color: #142e7c;
    border-radius: 5px;
}